# Car Sales Data Results

### Table of Contents
* [Package Imports](#imports)
* [Data Preprocessing](#data_preprocessing)
* [Testing Some Graphs](#graphs)

## Package Imports <a id='imports'></a>

We import a few python packages for use in this project
- streamlit
    - for quickly and cleanly formatting the final webpage and handle its functionality
- pandas
    - for data processing and analytics
- plotly_express
    - to make graphs and charts for the user

In [1]:
import streamlit as sl
import pandas as pd
import plotly_express as px

## Data Preprocessing <a id='data_preprocessing'></a>

Now we clean up the data before going forward:
1. Tidy up column names
2. Decide what to do with missing values
3. Handle Duplicates

In [2]:
df = pd.read_csv('../data/raw_vehicles_us.csv')
df['make'] = df['model'].apply(lambda x: x.split()[0])
df['model'] = df['model'].apply(lambda x: ' '.join(x.split()[1:]))

In [3]:
# renaming columns
df = df.rename(columns={
    'model_year': 'year',
    'fuel': 'fuel_type',
    'type': 'body',
    'paint_color': 'exterior_color',
    'is_4wd': '4_wheel_drive'
})

In [4]:
df.head(10)

,price,year,model,condition,cylinders,fuel_type,odometer,transmission,body,exterior_color,4_wheel_drive,date_posted,days_listed,make
0,9400,2011.0,x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw
1,25500,NaN,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford
2,5500,2013.0,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai
3,1500,2003.0,f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford
4,14900,2017.0,200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler
5,14990,2014.0,300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,chrysler
6,12990,2015.0,camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73,toyota
7,15990,2013.0,pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,honda
8,11500,2012.0,sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19,kia
9,9200,2008.0,pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17,honda

In [5]:
df.columns

Index(['price', 'year', 'model', 'condition', 'cylinders', 'fuel_type',
       'odometer', 'transmission', 'body', 'exterior_color', '4_wheel_drive',
       'date_posted', 'days_listed', 'make'],
      dtype='object')

In [6]:
df.isna().sum()

price                 0
year               3619
model                 0
condition             0
cylinders          5260
fuel_type             0
odometer           7892
transmission          0
body                  0
exterior_color     9267
4_wheel_drive     25953
date_posted           0
days_listed           0
make                  0
dtype: int64

In [7]:
# looping over column names and replacing missing values with 'unknown'
col_to_replace = ['year', 'cylinders', 'odometer', 'exterior_color', '4_wheel_drive']
for col in col_to_replace:
    df[col] = df[col].fillna('__unknown__') # I added some '__' to make this special value stand out

In [8]:
# counting clear duplicates
df.duplicated().sum()

0

In [9]:
# viewing unique values
df['model'].sort_values().unique()

array(['1500', '200', '2500', '300', '3500', '4runner', 'acadia',
       'accord', 'altima', 'benze sprinter 2500', 'camaro',
       'camaro lt coupe 2d', 'camry', 'camry le', 'charger', 'cherokee',
       'civic', 'civic lx', 'colorado', 'corolla', 'corvette', 'cr-v',
       'cruze', 'dakota', 'econoline', 'edge', 'elantra', 'enclave',
       'equinox', 'escalade', 'escape', 'expedition', 'explorer', 'f-150',
       'f-250', 'f-250 sd', 'f-250 super duty', 'f-350 sd', 'f150',
       'f150 supercrew cab xlt', 'f250', 'f250 super duty', 'f350',
       'f350 super duty', 'focus', 'focus se', 'forester', 'frontier',
       'frontier crew cab sv', 'fusion', 'fusion se', 'grand caravan',
       'grand cherokee', 'grand cherokee laredo', 'highlander', 'impala',
       'impreza', 'jetta', 'liberty', 'malibu', 'maxima', 'murano',
       'mustang', 'mustang gt coupe 2d', 'odyssey', 'outback', 'passat',
       'pilot', 'prius', 'ranger', 'rav4', 'rogue', 'santa fe', 'sentra',
       'sienna', 'sierra', 'sierra 1500', 'sierra 2500hd', 'silverado',
       'silverado 1500', 'silverado 1500 crew', 'silverado 2500hd',
       'silverado 3500hd', 'sonata', 'sorento', 'soul', 'suburban',
       'tacoma', 'tahoe', 'taurus', 'tl', 'town & country', 'trailblazer',
       'traverse', 'tundra', 'versa', 'wrangler', 'wrangler unlimited',
       'x5', 'yukon'], dtype=object)

In [10]:
def replace_wrong_values(col_name, wrong, correct):
    for w in wrong:
        df[col_name] = df[col_name].replace(w, correct)

In [11]:
corrections = [
    ['model', ['f150'], 'f-150'],
    ['model', ['f250'], 'f-250'],
    ['model', ['f-250 super duty', 'f250 super duty'], 'f-250 sd'],
    ['model', ['f350'], 'f-350'],
    ['model', ['f350 super duty'], 'f-350 sd'],
    ['model', ['f150 supercrew cab xlt'], 'f-150 supercrew cab xlt']
]

for c in corrections:
    replace_wrong_values(c[0], c[1], c[2])

df['model'].sort_values().unique()

array(['1500', '200', '2500', '300', '3500', '4runner', 'acadia',
       'accord', 'altima', 'benze sprinter 2500', 'camaro',
       'camaro lt coupe 2d', 'camry', 'camry le', 'charger', 'cherokee',
       'civic', 'civic lx', 'colorado', 'corolla', 'corvette', 'cr-v',
       'cruze', 'dakota', 'econoline', 'edge', 'elantra', 'enclave',
       'equinox', 'escalade', 'escape', 'expedition', 'explorer', 'f-150',
       'f-150 supercrew cab xlt', 'f-250', 'f-250 sd', 'f-350',
       'f-350 sd', 'focus', 'focus se', 'forester', 'frontier',
       'frontier crew cab sv', 'fusion', 'fusion se', 'grand caravan',
       'grand cherokee', 'grand cherokee laredo', 'highlander', 'impala',
       'impreza', 'jetta', 'liberty', 'malibu', 'maxima', 'murano',
       'mustang', 'mustang gt coupe 2d', 'odyssey', 'outback', 'passat',
       'pilot', 'prius', 'ranger', 'rav4', 'rogue', 'santa fe', 'sentra',
       'sienna', 'sierra', 'sierra 1500', 'sierra 2500hd', 'silverado',
       'silverado 1500', 'silverado 1500 crew', 'silverado 2500hd',
       'silverado 3500hd', 'sonata', 'sorento', 'soul', 'suburban',
       'tacoma', 'tahoe', 'taurus', 'tl', 'town & country', 'trailblazer',
       'traverse', 'tundra', 'versa', 'wrangler', 'wrangler unlimited',
       'x5', 'yukon'], dtype=object)

In [12]:
df.to_csv('../data/processed_vehicles_us.csv', index=False)